<!DOCTYPE html>
<html>
<head>
  <title>StepUp</title>
  <%= stylesheet_link_tag    "step_up/application", media: "all" %>
  <%= javascript_include_tag "step_up/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
